---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {% for page in collections.all %}
        <url>
            <loc>{{ meta.siteBaseUrl }}{{ page.url | url }}</loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
            {% for mapping in userComputed.mapping %}
              {% for notePath, xhtmls in mapping %}
                {% for xhtml in xhtmls %}
                  {% if xhtml.href == page.url %}
                    <xhtml:link
                              rel="{{xhtml.rel}}"
                              hreflang="{{xhtml.hreflang}}"
                              href="{{meta.siteBaseUrl}}{{xhtml.href | url}}" />
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
        </url>
    {% endfor %}
</urlset>
